/**/DROP/
/**/data/
/**/output/
/**/TEMP/
/**/packages/
/**/target/
/**/Win32/
/**/x64/
/**/bin/
/**/Bin/
/**/obj/
/**/Obj/
/**/Debug/
/**/Release/
/**/tars/
/**/_site
/**/docfx_site
/**/docfx_pdf
/**/bak/
/**/scratch/
/**/snippets/
/**/external/
/**/third-party/
/**/desktop.ini/
/**/.DS_Store/
/**/doxygen/
/**/tmp/
/**/temp/
/**/bak*/
/**/*.tmp*/
/**/*.log/
/**/*.jnk*/
/**/*.temp/
/**/*.bak*/
/**/.vs/
/**/.svn/
/**/.idea/
*.log
Module*.bas
*.ods
Book*.xls*
tmp*
*.tmp*
*.temp*
temp*
*.jnk*
jnk*
*.junk*
junk*
*.bak*
*.back*
*.swp*
knime-workspace
*.pyc
__pycache__
/**/build/
/**/test/output
~*
WDS-Cpp/lib/WDS_Matrix_CLR-dbg.dll
WDS-Cpp/lib/WDS_Matrix_CLR-dbg.pdb
*.dll
*.pdb
*.lib
*.so
WDS-Cpp/WDS/XLL/EXCEL.psess
*.vspx
WDS-Cs/WDS/XLL/WDS-ModelUtil-XLL-packed.xll
WDS-R/.Rhistory
*checkpoint*

WDS-Python/WDS/Comp/ArtificialsCythonWrapped.c
WDS-Python/WDS/Comp/ArtificialsCythonWrapped.h
hey*.*
foo*.*
*.out
*.aux
*.aux
*.idx
*.aux
*.out
*.1
WDS-Python/WDS/CompetingRisks/tests/test_ph_3.py.out.data.csv
WDS-Python/WDS/CompetingRisks/tests/test_ph_3.py.out.system_etc.csv
WDS-Python/WDS/CompetingRisks/tests/test_ph_3.py.out.system_matrix_Resp1.csv
WDS-Python/WDS/CompetingRisks/tests/test_ph_3.py.out.system_matrix_Resp2.csv
WDS-Python/WDS/CompetingRisks/tests/test_ph_4.py.out.data.csv
WDS-Python/WDS/CompetingRisks/tests/test_ph_4.py.out.system_etc.csv
WDS-Python/WDS/CompetingRisks/tests/test_ph_4.py.out.system_matrix_Resp1.csv
WDS-Python/WDS/CompetingRisks/tests/test_ph_4.py.out.system_matrix_Resp2.csv
